<div class="wrapper" [@donationExpand]="expanded">

  <div class="frame"
       [ngClass]="{'expanded' : classExpanded }"
       (mouseenter)="expand()"
       (mouseleave)="collapse()"
       [@donationExpand]="expanded">

    <span id="donate">donate</span>

    <ng-container *ngIf="accountsVisible">
      <div class="address" id="btcAddress" [@donationOpacity]>BTC: {{btcAddress}}</div>
      <div class="address" id="ethAddress" [@donationOpacity]>ETH: {{ethAddress}}</div>
    </ng-container>

  </div>

</div>
