@import "../common";

.wrapper {
  @include size(100px, 35px);
  @include border(1px, $font-clr);
  @include grid-center;
  border-radius: 2px;
  background: white;
  font-family: $font;
  opacity: 0.35;
}

.wrapper:hover {
  cursor: pointer;
  opacity: 0.7;
}

.address {
  display: inline-block;
  opacity: 0.6;
}

.address:hover {
  opacity: 1;
}

#ethAddress {
  margin-left: 10px;
}

#btcAddress {
  transform: translateX(-30px);
}

.expanded {
  @include grid-center(1fr, 100px 1fr);
}
