@import "../common";

.wrapper {
  @include size(100px, 35px);
  @include mdc-elevation(4);
  @include border(1px, transparentize($font-clr, 0.6));
  border-radius: 2px;
}

.frame {
  @include size100p;
  @include grid-center;
  border-radius: 2px;
  background: white;
  font-family: $font;
  opacity: 0.35;
}

.frame:hover {
  cursor: pointer;
  opacity: 0.7;
}

.address {
  display: inline-block;
  opacity: 0.6;
  align-self: stretch;
  justify-self: stretch;
  @include grid-center;
}

.address:hover {
  opacity: 1;
}


.expanded {
  @include grid-center(1fr, 100px 5fr 6fr);
}
