<div class="wrapper" [ngClass]="{'untransparent' : !iconTransparency}">

  <div id="coinValueBox">

    <div>
      <input type="text" id="amount"
             [value]="coin.amount"
             (click)="$event.target.value = ''"
             (input)="setAmount($event.target.value)"/>{{coin.symbol}}  &#8776;
    </div>

    <div id="coinValue">{{coinValue | coinPrice}} {{currency.toUpperCase()}}</div>
  </div>

  <img [src]="'https://files.coinmarketcap.com/static/img/coins/128x128/' + coin.id + '.png'"/>
  <div id="name">{{coin.name | slice:0:12}}</div>
  <div id="exchange">{{coin['price_' + currency] | coinPrice}} {{currency.toUpperCase()}} / {{coin.symbol}}</div>

</div>
