@import "../common";

$tile-w: 180px;
$tile-h: 160px;
$transparent-font: transparentize($font-clr, 0.7);

.wrapper {
  @include size($tile-w, $tile-h);
  @include grid-center(50% 20% 15%, 1fr);
  grid-template-areas: "top" "middle" "bottom";
  font-family: $font;
  font-size: 20px;
  color: $font-clr;
  cursor: default;
  transition: 1s;
}

.wrapper:hover {
  cursor: pointer;
}

.untransparent {
  color: transparent;
  transition: 0.5s;

  img {
    opacity: 0.8;
  }

  input {
    color: transparent;
  }
}

.untransparent:hover {
  color: $font-clr;
  transition: 0.3s;

  img {
    opacity: 0.15;
  }

  input {
    color: $font-clr;
  }
}

input {
  @include size(25%, 30px);
  text-align: right;
  border: none;
  font-size: 20px;
  color: $font-clr;
  font-family: $font;
  padding-right: 6px;
  background: transparent;
  font-weight: 600;
  transition: 1s;
}

input:hover {
  cursor: pointer;
}

#coinValueBox {
  grid-area: top;
  z-index: 2;

  div {
    margin: auto;
    text-align: center;
  }
}

#coinValue {
  font-weight: 600;
  transition: 1s;
}

img {
  @include size($tile-w * 0.35);
  grid-area: top;
  opacity: 0.15;
  transition: 1s;
}

#name {
  color: $font-clr;
  grid-area: middle;
}

#exchange {
  grid-area: bottom;
  font-size: 15px;
  color: $font-clr;
}
