@import "common";

$sidebar-width: 400px;

.wrapper {
  @include size100p;
  @include absolute(0, null, null, 0);
  @include grid-center(1fr, $sidebar-width 1fr);
  min-height: 100%;
  overflow: hidden;

  @media screen and (max-width: $mobile-treshhold) {
    @include grid-center(1fr, 1fr);
    grid-template-areas: "whole";
  }
}

app-sidebar {
  @include mdc-elevation(3);
  @include size(400px, 100vh);
  z-index: 3;

  @media screen and (max-width: $mobile-treshhold) {
    width: 96vw;
    height: 80vh;
    grid-area: whole;
    align-self: end;

  }
}

#mainView {
  @include grid-stretch(20% 1fr, 1fr);
  height: 100vh;
  justify-self: stretch;
  position: relative;

  @media screen and (max-width: $mobile-treshhold) {
    grid-area: whole;
    position: static;
  }
}

#coinInfos {
  @include grid-center(null, repeat(auto-fill, minmax(150px, 1fr)));
  grid-auto-rows: 200px;
  justify-content: center;
  padding: 35px;
  overflow-y: auto;

  @media screen and (max-width: $mobile-treshhold) {
    padding: 10px;
  }
}

#bottomBar {
  @include size(100%, 70px);
  @include absolute(null, 0, 0, 0);
  background: white;
  z-index: 2;

  @media screen and (max-width: $mobile-treshhold) {
    display: none;
  }
}

app-donation {
  float: left;
  margin: 20px;
}

app-miner {
  position: absolute;
  bottom: 13px;
}

#cmcLink {
  float: right;
  margin: 20px;
  margin-top: 40px;
  font-size: 17px;
  font-family: $font;
  opacity: 0.3;
  text-decoration: none;
}

#cmcLink:link {
  color: black;
}

#cmcLink:visited {
  color: black;
}

#cmcLink:hover {
  cursor: pointer;
  opacity: 0.6;
}


