<div class="wrapper">

  <app-sidebar [@sidebarAnimation]="sidebar | async"></app-sidebar>

  <div id="mainView" [@mainViewAnimation]="sidebar | async">

    <app-total-amount></app-total-amount>

    <div id="coinInfos">
      <app-coin-info *ngFor="let coin of shownCoins | async" [coin]="coin"></app-coin-info>
    </div>

    <div id="bottomBar">
      <app-donation></app-donation>
      <a id="cmcLink" target="_blank" href="http://coinmarketcap.com">powered by <b>coinmarketcap.com</b></a>
    </div>

  </div>

</div>
