@import "common";

$sidebar-width: 400px;

.wrapper {
  @include size100p;
  @include absolute(0, null, null, 0);
  @include grid-center(1fr, $sidebar-width 1fr);
  min-height: 100%;
  overflow: hidden;

  @media screen and (max-width: $mobile-treshhold) {
    @include grid-center(1fr, 1fr);
    grid-template-areas: "whole";
  }
}

app-sidebar {
  @include mdc-elevation(4);
  @include size(400px, 100vh);
  z-index: 3;

  @media screen and (max-width: $mobile-treshhold) {
    width: 95vw;
    margin-top: 25px;
    grid-area: whole;
  }
}

#mainView {
  @include grid-stretch(2% 20% 1fr, 1fr);
  height: 100vh;
  justify-self: stretch;
  position: relative;

  @media screen and (max-width: $mobile-treshhold) {
    grid-area: whole;
  }
}

#sidebarToggleButton {
  @include size(50px);
  @include absolute(40px, null, null, 30px);
  z-index: 5;
  opacity: 0.15;
  font-size: 60px;
  text-align: center;
  transform-origin: 50%;

  @media screen and (max-width: $mobile-treshhold) {
    @include absolute(85vh, 0, null, 0);
    margin: auto;
  }
}

#sidebarToggleButton:hover {
  opacity: 0.4;
  cursor: pointer;
}

#coinInfos {
  @include grid-center(null, repeat(auto-fill, minmax(150px, 1fr)));
  grid-auto-rows: 200px;
  justify-content: center;
  padding: 35px;
  overflow-y: auto;

  @media screen and (max-width: $mobile-treshhold) {
    padding: 10px;
  }
}


