@import '../common';

$row-height: 40px;

.wrapper {
  @include size100p;
  overflow-x: hidden;
  border-radius: 2px;
  background: white;
  font-size: 15px;
}

#innerWrapper {
  @include size(103%, 100%);
  @include grid-format(stretch, 10px 40px);
  grid-auto-rows: $row-height;
  grid-row-gap: 10px;
  overflow-y: scroll;

  font-family: $font;
  color: $font-clr;

  @media screen and (max-width: $mobile-treshhold) {
    @include size100p;
  }
}

.row {
  @include size100p;
}

.rowContent {
  @include size(90%, $row-height);
  @include grid-center(1fr, 11% 40% 26% 17% 5%);
  @include mdc-elevation(2);
  justify-items: left;
  margin: auto;
  padding-left: 15px;
  box-sizing: border-box;

  $img-size: 0.5;

  img {
    @include size($row-height * $img-size);
  }

  #coinPrice {
    justify-self: right;
  }

  #percentChange {
    font-size: 12px;
    justify-self: right;
  }
}

.rowContent:hover {
  cursor: pointer;
}

.rowContent:hover:not(.marked) {
  background: $hover-clr;
}

.rowContent:active {
  @include mdc-elevation(1);
}

.marked {
  background-color: $marked-clr;
}

#menu {
  @include grid-center(1fr, 1fr 1fr);
  align-self: center;
  font-size: 14px;
}

#currency, #timewindow {
  @include grid-center(1fr, 1fr 1fr 1fr);
  grid-column-gap: 5px;
}

#currency {
  transform: translateX(5px);
}

#timewindow {
  transform: translateX(-5px);
}

.red {
  color: $red;
}

.green {
  color: $green;
}


