<div class="wrapper">
  <div id="innerWrapper">

    <div class="filler"></div>

    <div id="menu">

      <div id="currency">

        <button mat-button *ngFor="let curr of currencies"
                [id]="curr" name="currency"
                [ngClass]="{'marked' : (currency | async) == curr}"
                (click)="setCurrency(curr)">
          {{curr.toUpperCase()}}
        </button>

      </div>

      <div id="timewindow">

        <button mat-button *ngFor="let tmw of timewindows"
                [id]="tmw" name="timewindow"
                [ngClass]="{'marked' : (timewindow | async) == tmw}"
                (click)="setTimewindow(tmw)">
          {{tmw}}
        </button>

      </div>
    </div>

    <ng-container class="row" *ngFor="let coin of coins | async">

      <div class="rowContent"
           [ngClass]="{'marked' : coin.shown}"
           (click)="toggleCoin(coin.id)">

        <img [src]="'https://files.coinmarketcap.com/static/img/coins/64x64/' + logosMap[coin.id]"/>

        <span id="coinName">
          {{coin.name | slice:0:14}}
        </span>

        <span id="coinPrice">
          {{coin['price_' + (currency | async)] | coinPrice}} {{(currency | async).toUpperCase()}}
        </span>

        <span id="percentChange"
              [ngClass]="{
              'red' : coin['percent_change_' + (timewindow | async)].indexOf('-') != -1,
              'green' : coin['percent_change_' + (timewindow | async)].indexOf('-') == -1}">

          {{coin['percent_change_' + (timewindow | async)]}} %
        </span>

        <div class="filler"></div>
      </div>

    </ng-container>

  </div>
</div>
