@import "../common";

$viewicon-size: 60px;

.wrapper {
  @include grid-center(1fr, 1fr);
}

#innerWrapper {
  transform: translateX($viewicon-size / 2);
}

h1 {
  display: inline-block;
  font-family: $font;
  font-size: 70px;
  font-weight: 500;
  color: transparentize($font-clr, 0.2);

  @media screen and (max-width: 30cm) {
    font-size: 45px;
  }
}

#transparencyToggleButton {
  @include size(60px);
  opacity: 0.4;
  display: inline-block;
  margin-left: 40px;
}

#transparencyToggleButton:hover {
  cursor: pointer;
  opacity: 0.6;
}
