<div class="wrapper">

  <img id="sidebarToggleButton"
       src="assets/arrow.png"
       (click)="toggleSidebar()"
       [ngStyle]="{transform : arrowRotation | async }"/>

  <div id="innerWrapper">

    <h1 [ngClass]="{'blur' : !(iconTransparency | async)}">{{total | coinPrice}} {{currency.toUpperCase()}}</h1>

    <img id="transparencyToggleButton"
         [src]="(iconTransparency | async) ? 'assets/visible.png' : 'assets/not_visible.png'"
         (click)="toggleTransparency()" />
  </div>

</div>
