@import "../common";

$viewicon-size: 65px;
$viewicon-margin: 60px;
$margin: 100px;

.wrapper {
  @include grid-center(1fr, 1fr);
  position: relative;
}

#innerWrapper {
  transform: translateX(($viewicon-size + $viewicon-margin / 2) / 2);

  @media screen and (max-width: 20cm) {
    transform: translateX(($viewicon-size+ $viewicon-margin / 2) / 5);
  }
}

#sidebarToggleButton {
  @include size(60px);
  @include absolute(0, null, 0, 20px);
  margin: auto;
  z-index: 5;
  opacity: 0.15;
  transform-origin: 50%;
  @include border;

  @media screen and (max-width: 30cm) {
    @include size(35px);
  }
}

#sidebarToggleButton:hover {
  opacity: 0.4;
  cursor: pointer;
}

h1 {
  display: inline-block;
  font-family: $font;
  font-size: 70px;
  font-weight: 500;
  color: transparentize($font-clr, 0.2);

  @media screen and (max-width: 30cm) {
    font-size: 45px;
  }
}

h1:hover {
  cursor: default;
}

#transparencyToggleButton {
  @include size($viewicon-size);
  margin-left: $viewicon-margin;
  opacity: 0.3;
  display: inline-block;

  @media screen and (max-width: 30cm) {
    @include size($viewicon-size / 2.5);
    margin-left: 15px;
  }
}

#transparencyToggleButton:hover {
  cursor: pointer;
  opacity: 0.6;
}

.blur {
  color: transparent;
  text-shadow: 0 0 25px rgba(0,0,0,0.6);
}
